
.image{
  text-align:center;
  position: relative;
  width:100%;
}

#management > .table{
  /*隣接するセルのボーダーを重ねて表示する。*/
  border-collapse: collapse;
  border: 1px solid #666;
  text-align: center;
}
 
#management td, th {
  border: 1px solid #666;
  padding: 0.3em 0.5em;

}






